<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D3: Zoom in to reveal counties</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div class="viz"></div>

<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>

<script src="javascripts/code.js"></script>

</body>
</html>


